.contacts {
  height: 20vh;
  width: 100%;
  color: white;
  padding: 5vh;
  display: flex;
  align-items: center;

  &__title {
    padding-left: 10vh;
    font-size: 2.5rem;
    font-family: "Regular2";
  }

  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 10vh;
    list-style: none;
    gap: 10%;

    // background-color: #9fcaed31;

  }

  &__item {
    height: 100%;
    display: flex;
    align-items: center;
    // padding-top: 1%;
    // margin-top: 1%;
    transition-duration: 400ms;

    // background-color: #cc3b3b4d;

    
    &--link {
      // height: 100%;
      display: flex;
      text-decoration: none;
      font-size: 3vh;
      font-family: 'Regular';
      text-transform: uppercase;
      color: white;

      // background-color: #a9e0f65c;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.item {
  &__icon {
    height: 3vh;
    width: 3vh;
    margin-right: 3vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    // background-color: #958ef740;
  

    &--telegram {
      background-image: url(../../../public/pagin-icons/contacts-telegram.svg);
    }
    &--instagram {
      background-image: url(../../../public/pagin-icons/contacts-instagram.svg);
    }
    &--behance {
      background-image: url(../../../public/pagin-icons/contacts-behance.svg);
    }
  }
}